/* @group Onebit 16 x 16 */
/**
 * Credit: IcoJoy
 * 16x16 version of OneBit Icons
 * http://www.icojoy.com/articles/46/
 * http://www.icojoy.com/articles/44/
 * 
 * Sprites Generated using: http://spritegen.website-performance.org/
 * @see images/sprites-16.png
 */
.arrow-down { background-position: 0 -30px; }
.arrow-left { background-position: 0 -76px; } 
.arrow-right { background-position: 0 -122px; } 
.arrow-up { background-position: 0 -168px; } 
.badge-blue { background-position: 0 -214px; } 
.badge-check { background-position: 0 -260px; } 
.badge-green { background-position: 0 -306px; } 
.badge-red { background-position: 0 -352px; } 
.badge-x { background-position: 0 -398px; } 
.badge-yellow { background-position: 0 -444px; } 
.bag { background-position: 0 -490px; } 
.bomb { background-position: 0 -536px; } 
.briefcase { background-position: 0 -582px; } 
.browser { background-positixon: 0 -628px; } 
.bug { background-position: 0 -674px; } 
.bulb-white { background-position: 0 -720px; } 
.bulb-yellow { background-position: 0 -766px; } 
.calculator { background-position: 0 -812px; } 
.calendar { background-position: 0 -858px; } 
.chart-line { background-position: 0 -904px; } 
.chart-org { background-position: 0 -950px; } 
.chart-pie { background-position: 0 -996px; } 
.chat { background-position: 0 -1042px; } 
.check { background-position: 0 -1088px; } 
.clock { background-position: 0 -1134px; } 
.cog { background-position: 0 -1180px; } 
.disc-black { background-position: 0 -1226px; } 
.disc-yellow { background-position: 0 -1272px; } 
.feed { background-position: 0 -1318px; } 
.flag-blue { background-position: 0 -1364px; } 
.flag-brown { background-position: 0 -1410px; } 
.flag-green { background-position: 0 -1456px; } 
.flag-red { background-position: 0 -1502px; } 
.flag-white { background-position: 0 -1548px; } 
.flag-yellow { background-position: 0 -1594px; } 
.folder-open { background-position: 0 -1640px; } 
.globe { background-position: 0 -1686px; } 
.hand { background-position: 0 -1732px; } 
.heart { background-position: 0 -1778px; } 
.home { background-position: 0 -1824px; } 
.info { background-position: 0 -1870px; } 
.key { background-position: 0 -1916px; } 
.lock-locked { background-position: 0 -1962px; } 
.lock-opened { background-position: -166px -30px; } 
.mail-white { background-position: -166px -76px; } 
.mail-yellow { background-position: -166px -122px; } 
.minus { background-position: -166px -168px; } 
.monitor-black { background-position: -166px -214px; } 
.monitor-blue { background-position: -166px -260px; } 
.music { background-position: -166px -306px; } 
.note { background-position: -166px -352px; } 
.notepad { background-position: -166px -398px; } 
.onebit_36 { background-position: -166px -444px; } 
.pen { background-position: -166px -490px; } 
.pencil { background-position: -166px -536px; } 
.plus { background-position: -166px -582px; } 
.question { background-position: -166px -628px; } 
.scissor { background-position: -166px -674px; } 
.search { background-position: -166px -720px; } 
.server { background-position: -166px -766px; } 
.signal-tower { background-position: -166px -812px; } 
.signal-wireless { background-position: -166px -858px; } 
.sos { background-position: -166px -904px; } 
.star-dull { background-position: -166px -950px; } 
.star-half { background-position: -166px -996px; } 
.star { background-position: -166px -1042px; } 
.tag-blue { background-position: -166px -1088px; } 
.tag-brown { background-position: -166px -1134px; } 
.tag-green { background-position: -166px -1180px; } 
.tag-red { background-position: -166px -1226px; } 
.tag-white { background-position: -166px -1272px; } 
.tag-yellow { background-position: -166px -1318px; } 
.terminal { background-position: -166px -1364px; } 
.user { background-position: -166px -1410px; } 
.users { background-position: -166px -1456px; } 
.wand { background-position: -166px -1502px; } 
.webcam { background-position: -166px -1548px; } 
.wrench { background-position: -166px -1594px; } 
.x-octagon { background-position: -166px -1640px; } 
.x { background-position: -166px -1686px; } 
/* @end */ 

/* @group Onebit 32 x 32 */
/**
 * Credit: IcoJoy
 * 16x16 version of OneBit Icons
 * http://www.icojoy.com/articles/46/
 * http://www.icojoy.com/articles/44/
 * 
 * Sprites Generated using: http://spritegen.website-performance.org/
 * @see images/sprites-32.png
 */
.arrow-down { background-position: 0 -30px; } 
.arrow-left { background-position: 0 -92px; } 
.arrow-right { background-position: 0 -154px; } 
.arrow-up { background-position: 0 -216px; } 
.badge-blue { background-position: 0 -278px; } 
.badge-check { background-position: 0 -340px; } 
.badge-green { background-position: 0 -402px; } 
.badge-red { background-position: 0 -464px; } 
.badge-x { background-position: 0 -526px; } 
.badge-yellow { background-position: 0 -588px; } 
.bag { background-position: 0 -650px; } 
.bomb { background-position: 0 -712px; } 
.briefcase { background-position: 0 -774px; } 
.browser { background-position: 0 -836px; } 
.bug { background-position: 0 -898px; } 
.bulb-white { background-position: 0 -960px; } 
.bulb-yellow { background-position: 0 -1022px; } 
.calculator { background-position: 0 -1084px; } 
.calendar { background-position: 0 -1146px; } 
.chart-line { background-position: 0 -1208px; } 
.chart-org { background-position: 0 -1270px; } 
.chart-pie { background-position: 0 -1332px; } 
.chat { background-position: 0 -1394px; } 
.check { background-position: 0 -1456px; } 
.clock { background-position: 0 -1518px; } 
.cog { background-position: 0 -1580px; } 
.disc-black { background-position: 0 -1642px; } 
.disc-yellow { background-position: 0 -1704px; } 
.feed { background-position: 0 -1766px; } 
.flag-blue { background-position: 0 -1828px; } 
.flag-brown { background-position: 0 -1890px; } 
.flag-green { background-position: 0 -1952px; } 
.flag-red { background-position: -182px -30px; } 
.flag-white { background-position: -182px -92px; } 
.flag-yellow { background-position: -182px -154px; } 
.folder-open { background-position: -182px -216px; } 
.globe { background-position: -182px -278px; } 
.hand { background-position: -182px -340px; } 
.heart { background-position: -182px -402px; } 
.home { background-position: -182px -464px; } 
.info { background-position: -182px -526px; } 
.key { background-position: -182px -588px; } 
.lock-locked { background-position: -182px -650px; } 
.lock-opened { background-position: -182px -712px; } 
.mail-white { background-position: -182px -774px; } 
.mail-yellow { background-position: -182px -836px; } 
.minus { background-position: -182px -898px; } 
.monitor-black { background-position: -182px -960px; } 
.monitor-blue { background-position: -182px -1022px; } 
.music { background-position: -182px -1084px; } 
.note { background-position: -182px -1146px; } 
.notepad { background-position: -182px -1208px; } 
.warning { background-position: -182px -1270px; } 
.pen { background-position: -182px -1332px; } 
.pencil { background-position: -182px -1394px; } 
.plus { background-position: -182px -1456px; } 
.question { background-position: -182px -1518px; } 
.scissor { background-position: -182px -1580px; } 
.search { background-position: -182px -1642px; } 
.server { background-position: -182px -1704px; } 
.signal-tower { background-position: -182px -1766px; } 
.signal-wireless { background-position: -182px -1828px; } 
.sos { background-position: -182px -1890px; } 
.star-dull { background-position: -182px -1952px; } 
.star-half { background-position: -364px -30px; } 
.star { background-position: -364px -92px; } 
.tag-blue { background-position: -364px -154px; } 
.tag-brown { background-position: -364px -216px; } 
.tag-green { background-position: -364px -278px; } 
.tag-red { background-position: -364px -340px; } 
.tag-white { background-position: -364px -402px; } 
.tag-yellow { background-position: -364px -464px; } 
.terminal { background-position: -364px -526px; } 
.user { background-position: -364px -588px; } 
.users { background-position: -364px -650px; } 
.wand { background-position: -364px -712px; } 
.webcam { background-position: -364px -774px; } 
.wrench { background-position: -364px -836px; } 
.x-octagon { background-position: -364px -898px; } 
.x { background-position: -364px -960px; } 
/* @end */

/* @group Sky */
/**
 * "I made these myself for Sky." (Sky's author)
 * Sprites Generated using: http://spritegen.website-performance.org/
 * @see images/sprites-ladybug.png
 */
.sprite-arrow-down-dark { background-position: 0 -250px; } 
.sprite-arrow-down-light { background-position: 0 -509px; } 
.sprite-arrow-right-dark { background-position: 0 -768px; } 
.sprite-arrow-right-light { background-position: 0 -1027px; } 
.sprite-drupal { background-position: 0 -1286px; } 
.sprite-link { background-position: 0 -1552px; } 
.sprite-minus { background-position: -266px -250px; } 
.sprite-plus { background-position: -266px -516px; } 
/* @end */
